*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  overflow-x: hidden;
}

body.modal-open {
  overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

html,
body {
  font-family: 'BBH Bogle', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#app {
  font-family: 'Rubik', sans-serif;
}
