@import './base.css';

.button {
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

.controls {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 400px;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgb(255 165 0 / 40%) 20%,
    rgb(238 130 238 / 40%) 50%,
    rgb(0 0 139 / 50%) 80%
  );
  border: 1px solid black;
  user-select: none;
  resize: horizontal;
  overflow: hidden;
  ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0%;
    top: 0%;
    z-index: -1;
    background:
      linear-gradient(0deg, white 1%, transparent 1%),
      linear-gradient(90deg, white 1%, transparent 1%);
    background-size: 100px 100px;
  }
}

p {
  margin: 0 !important;
}

.block-control {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  &--group {
    display: flex;
    flex-direction: column;
  }
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.controls-expandable {
  max-height: 0vh;
  overflow: hidden;
}

.controls-expandable.expanded {
  max-height: 200vh;
}

.controls-expandable-icon {
  display: flex;
  justify-content: center;
  background: bisque;
  border-radius: 10px;
  font-family: system-ui;
  border: 2px solid black;
  cursor: pointer;
}

.button {
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

label {
  margin-bottom: 0.5rem;
}

input[type='range'],
input[type='color'] {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid white;
  margin: 1rem 0;
}
