@import './base.css';

.button {
  background: blueviolet;
  color: ghostwhite;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px black;
  cursor: pointer;
  backdrop-filter: blur(1px);
  text-shadow: 1px 1px 1px black;
  padding: 2px 5px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.25s transform;
}

.button.danger {
  background: crimson;
}

.button:hover {
  transform: scale(1.05);
}

.button.secondary {
  background: lightseagreen;
}

.button.multicolor {
  background: linear-gradient(45deg, rgb(255 165 0) 20%, rgb(238 130 238) 50%, rgb(0 0 139) 80%);
}

.controls {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 400px;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgb(255 165 0 / 40%) 20%,
    rgb(238 130 238 / 40%) 50%,
    rgb(0 0 139 / 50%) 80%
  );
  border: 1px solid black;
  user-select: none;
  resize: horizontal;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0%;
    top: 0%;
    z-index: -1;
    background:
      linear-gradient(0deg, white 1%, transparent 1%),
      linear-gradient(90deg, white 1%, transparent 1%);
    background-size: 100px 100px;
  }
}

.block-control {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  &--group {
    display: flex;
    flex-direction: column;
  }
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.controls-expandable {
  max-height: 0vh;
  overflow: hidden;
}

.controls-expandable.expanded {
  max-height: 200vh;
}

.controls-expandable-icon {
  display: flex;
  justify-content: center;
  background: bisque;
  border-radius: 10px;
  font-family: system-ui;
  border: 2px solid black;
  cursor: pointer;
}

p,
label,
button {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-styled {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

input[type='range'],
input[type='color'] {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid white;
  margin: 1rem 0;
}
