@import './base.css';

.controls {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  max-width: 200px;
  padding: 10px;
  background: #ff7360;
  border: 1px solid black;
  user-select: none;
}

.controls p {
  margin: 0;
}

.controls .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.controls--group {
  display: flex;
  flex-direction: column;
}
